*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-weight: 3000;
}

h2{
    font-weight: 100;
    padding: 0 0 1.5px;
}

span{
    font-weight: 100;
    font-size: 16px;
}

.allSection{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.allSection .firstSection{
    padding: 2rem;
}

.allSection .firstSection .human-resource{
    display: flex;
    padding: 1rem 0;
}

.allSection .firstSection .human-resource .text{
    padding: 1rem;
}

.allSection .firstSection .human-resource img{
    height: 150px;
}

.allSection .secondSection{
    display: flex;
    flex: 0.6;
    flex-direction: column;
    justify-content: space-between;
    background: #ccc;
    border: 2px solid lightslategray;
    min-height: 100vh;
    padding: 3rem;
}

.allSection .secondSection .text{
    text-align: center;
}

.allSection .secondSection .text h3{
    color: rgb(21, 3, 121) ;
    text-shadow: 0px 2px 2px black;
}

.allSection .secondSection .text #param{
    padding: 1rem 0;
}

.allSection .secondSection .text #center{
    color: rgba(0, 0, 0, 0.3) !important;
}

.allSection .secondSection .make{
    border-radius: 50px;
    border: none;
    /* text-align: center; */
    font-size: 16px;
    padding: 1rem 0rem;
    background: rgb(86, 59, 236);
    color: white;
}


/* MEDIA QUERY */

@media screen and (max-width: 1024px) {
    .allSection{
        flex-direction: column;
    }

    .allSection .firstSection #bill{
        text-align: center;
    }

    .allSection .secondSection{
        margin-bottom: 1.5rem;
    }
}